:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
  font-size: 1.6rem;
  font-family: Open Sans, sans-serif;
  background: white;
}

input:required,
textarea {
  box-shadow: none;
}

h1 {
  color: black;
  font-size: 1.9rem;
  font-weight: lighter;
  line-height: 2.7rem;
  word-spacing: 1rem;
}

section {
  margin-top: 15rem;
}

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(90vw, 41vh, 67px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.38;
  height: 10px;
  width: 10px;
  animation-delay: -0.2s;
  transform: translate3d(56vw, 59vh, 93px);
  background: #26d9ac;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(31vw, 2vh, 11px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(31vw, 70vh, 67px);
  background: #d92662;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(90vw, 27vh, 19px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.28;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(53vw, 36vh, 15px);
  background: #26a6d9;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(60vw, 76vh, 54px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.87;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(12vw, 78vh, 44px);
  background: #d92662;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(66vw, 26vh, 62px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.9;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(37vw, 56vh, 77px);
  background: #d9b526;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(83vw, 23vh, 29px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.38;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(36vw, 50vh, 58px);
  background: #32d926;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(8vw, 7vh, 20px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.62;
  height: 10px;
  width: 10px;
  animation-delay: -1.4s;
  transform: translate3d(48vw, 86vh, 32px);
  background: #26d9d0;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(22vw, 40vh, 74px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.6;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(26vw, 63vh, 88px);
  background: #26d96b;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(55vw, 36vh, 71px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  animation-delay: -1.8s;
  transform: translate3d(51vw, 32vh, 17px);
  background: #d9cd26;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(85vw, 41vh, 9px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.37;
  height: 7px;
  width: 7px;
  animation-delay: -2s;
  transform: translate3d(9vw, 90vh, 29px);
  background: #d92656;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(52vw, 81vh, 100px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.34;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(73vw, 6vh, 51px);
  background: #d926af;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(36vw, 65vh, 79px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.99;
  height: 10px;
  width: 10px;
  animation-delay: -2.4s;
  transform: translate3d(90vw, 56vh, 57px);
  background: #d95f26;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(61vw, 89vh, 60px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.75;
  height: 10px;
  width: 10px;
  animation-delay: -2.6s;
  transform: translate3d(64vw, 11vh, 39px);
  background: #2688d9;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(79vw, 24vh, 28px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.82;
  height: 8px;
  width: 8px;
  animation-delay: -2.8s;
  transform: translate3d(78vw, 65vh, 54px);
  background: #d9262f;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(52vw, 12vh, 84px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.2;
  height: 8px;
  width: 8px;
  animation-delay: -3s;
  transform: translate3d(75vw, 6vh, 66px);
  background: #d92653;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(5vw, 78vh, 79px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.85;
  height: 10px;
  width: 10px;
  animation-delay: -3.2s;
  transform: translate3d(85vw, 73vh, 94px);
  background: #d93b26;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(19vw, 5vh, 72px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.13;
  height: 9px;
  width: 9px;
  animation-delay: -3.4s;
  transform: translate3d(7vw, 19vh, 32px);
  background: #26b8d9;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(7vw, 1vh, 17px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.23;
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(60vw, 13vh, 39px);
  background: #d92c26;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(62vw, 35vh, 46px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.01;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(33vw, 53vh, 22px);
  background: #d92682;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(3vw, 5vh, 22px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.83;
  height: 6px;
  width: 6px;
  animation-delay: -4s;
  transform: translate3d(65vw, 15vh, 53px);
  background: #d98526;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(83vw, 64vh, 83px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.76;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(53vw, 27vh, 83px);
  background: #b526d9;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(55vw, 29vh, 6px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.93;
  height: 10px;
  width: 10px;
  animation-delay: -4.4s;
  transform: translate3d(53vw, 21vh, 46px);
  background: #d93526;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(53vw, 21vh, 72px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.4;
  height: 6px;
  width: 6px;
  animation-delay: -4.6s;
  transform: translate3d(8vw, 81vh, 53px);
  background: #56d926;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(31vw, 34vh, 24px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.12;
  height: 7px;
  width: 7px;
  animation-delay: -4.8s;
  transform: translate3d(84vw, 60vh, 75px);
  background: #29d926;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(16vw, 32vh, 68px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.79;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(42vw, 6vh, 87px);
  background: #d9268e;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(64vw, 82vh, 60px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.59;
  height: 10px;
  width: 10px;
  animation-delay: -5.2s;
  transform: translate3d(70vw, 7vh, 23px);
  background: #d92691;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(2vw, 51vh, 82px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.9;
  height: 9px;
  width: 9px;
  animation-delay: -5.4s;
  transform: translate3d(74vw, 42vh, 38px);
  background: #d92680;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(75vw, 44vh, 41px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.42;
  height: 10px;
  width: 10px;
  animation-delay: -5.6s;
  transform: translate3d(56vw, 72vh, 49px);
  background: #5c26d9;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(57vw, 80vh, 24px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.67;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(85vw, 27vh, 37px);
  background: #a9d926;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(44vw, 57vh, 11px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.62;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(72vw, 53vh, 77px);
  background: #6226d9;
}

.nav-bar {
  background-color: rgba(127, 255, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-bar li {
  color: #0000ee;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.nav-bar a {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 0.5rem solid #0000ee;
  transition: 0.3s;
}

.nav-bar a:active {
  border-bottom: 0.5rem solid white;
  color: white;
  transition: none;
}

.nav-bar a:visited {
  color: #0000ee;
}

.about::before {
  display: block;
  content: " ";
  margin-top: -185px;
  height: 185px;
  visibility: hidden;
  pointer-events: none;
}

.about div {
  display: flex;
  justify-content: center;
}

.about-container h1 {
  width: 70%;
  text-align: justify;
}

.technologies {
  width: 60%;
  margin: 10% auto;
  display: block;
}

.technologies::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technology-item {
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-name {
  text-align: center;
}

.text-title {
  text-align: center;
  margin-bottom: 3rem;
}

.portfolio {
  width: 90%;
  margin: 5% auto;
}

.portfolio::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 4rem;
  justify-items: center;
  align-items: center;
}

.portfolio-container a:hover {
  cursor: crosshair;
}

.contact::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
  text-align: center;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

form h1 {
  margin-bottom: 1rem;
}

.form-item {
  width: 100%;
  margin-top: 2rem;
}

input[type=text],
input[type=email],
textarea {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #1100fb;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: chartreuse;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.btn-submit {
  background: #1100fb;
  color: white;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  width: 7rem;
  font-size: 2rem;
}

.btn-submit:hover {
  height: 4.4rem;
  width: 7.4rem;
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
}

.btn-submit:active {
  color: #1100fb;
  background: chartreuse;
}

footer {
  font-size: 1rem;
  width: 100%;
  background-color: #beff7f;
  position: fixed;
  bottom: 0;
}

footer .social-networks {
  text-align: center;
  padding-top: 1.5rem;
}

footer .icon {
  padding: 1rem;
}

footer a:hover {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
}

footer a:active {
  color: white;
}

footer a:visited {
  color: #0000ee;
}

footer .text-footer {
  color: #0000ee;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 900px) and (max-width: 1397px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  section {
    margin-top: 7rem;
    padding-left: 11rem;
  }

  .nav-bar {
    height: 100%;
    width: 16%;
  }

  .nav-bar li {
    margin: 2rem;
    display: block;
    font-size: 2.3rem;
    letter-spacing: -0.3rem;
  }

  .technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .technology-item i {
    padding: 1rem;
  }

  .portfolio::before {
    display: block;
    content: " ";
    margin-top: -85px;
    height: 85px;
    visibility: hidden;
    pointer-events: none;
  }

  .portfolio-container {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .contact::before {
    display: block;
    content: " ";
    margin-top: -20px;
    height: 20px;
    visibility: hidden;
    pointer-events: none;
  }

  footer {
    width: 16%;
    left: 0;
    background: none;
  }
}
@media only screen and (min-width: 1398px) {
  h1 {
    font-size: 2.5rem;
    word-spacing: 1rem;
    line-height: 4rem;
  }

  section {
    margin-top: 13rem;
  }

  .nav-bar {
    background-color: #beff7f;
    color: #1100fb;
    display: flex;
    justify-content: center;
  }

  .nav-bar li {
    margin: 2rem;
    display: inline-block;
    font-size: 3rem;
  }

  .nav-bar a:hover {
    border-bottom: 0.8rem solid #0000ee;
  }

  .nav-bar a:active {
    border-bottom: 0.5rem solid white;
    color: white;
    transition: none;
  }

  .about-container h1 {
    width: 60%;
  }

  .technologies {
    width: 50%;
  }

  .technologies-container {
    flex-direction: row;
  }

  .portfolio::before {
    margin-top: -155px;
    height: 155px;
  }

  .contact::before {
    display: block;
    content: " ";
    margin-top: -125px;
    height: 125px;
    visibility: hidden;
    pointer-events: none;
  }

  .btn-submit:active {
    color: #1100fb;
    background: chartreuse;
  }

  footer {
    background-color: rgba(127, 255, 0, 0.5);
  }

  footer .text-footer {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
