:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"),
    auto !important;
  font-size: 1.6rem;
  font-family: Open Sans, sans-serif;
  background: rgb(255, 255, 255);
}

input:required,
textarea {
  box-shadow: none;
}

h1 {
  color: black;
  font-size: 1.9rem;
  font-weight: lighter;
  line-height: 2.7rem;
}

section {
  margin-top: 15rem;
}
