.contact::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
  text-align: center;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;

  & h1 {
    margin-bottom: 1rem;
  }
}
.form-item {
  width: 100%;
  margin-top: 2rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid $electric-blue;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: chartreuse;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.btn-submit {
  background: $electric-blue;
  color: $polar-white;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  width: 7rem;
  font-size: 2rem;

  &:hover {
    height: 4.4rem;
    width: 7.4rem;
    cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"),
      auto !important;
  }

  &:active {
    color: #1100fb;
    background: chartreuse;
  }
}
