@media only screen and (min-width: 1398px) {
  // BASE --------------------------------
  h1 {
    font-size: 2.5rem;
    word-spacing: 1rem;
    line-height: 4rem;
  }

  section {
    margin-top: 13rem;
  }

  // NAVIGATION BAR -------------------------
  .nav-bar {
    background-color: $solid-green;
    color: $electric-blue;
    display: flex;
    justify-content: center;

    & li {
      margin: 2rem;
      display: inline-block;
      font-size: 3rem;
    }

    & a:hover {
      border-bottom: 0.8rem solid $electric-blue;
    }

    & a:active {
      border-bottom: 0.5rem solid $polar-white;
      color: white;
      transition: none;
    }
  }

  // ABOUT SECTION -------------------------------
  .about-container h1 {
    width: 60%;
  }

  // TECHNOLOGIES SECTION -------------------------
  .technologies {
    width: 50%;

    &-container {
      flex-direction: row;
    }
  }

  // PORTFOLIO SECTION -------------------------------
  .portfolio::before {
    margin-top: -155px;
    height: 155px;
  }

  // CONTACT SECTION --------------------------------
  .contact::before {
    display: block;
    content: " ";
    margin-top: -125px;
    height: 125px;
    visibility: hidden;
    pointer-events: none;
  }

  .btn-submit:active {
    color: $electric-blue;
    background: chartreuse;
  }

  // FOOTER ----------------------------------
  footer {
    background-color: $trans-green;

    & .text-footer {
      font-size: 2rem;
    }
  }
}
