footer {
  font-size: 1rem;
  width: 100%;
  background-color: $solid-green;
  position: fixed;
  bottom: 0;

  & .social-networks {
    text-align: center;
    padding-top: 1.5rem;
  }

  & .icon {
    padding: 1rem;
  }

  & a:hover {
    cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"),
      auto !important;
  }

  & a:active {
    color: $polar-white;
  }

  & a:visited {
    color: $electric-blue;
  }

  & .text-footer {
    color: $electric-blue;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}
