.nav-bar {
  background-color: $trans-green;
  width: 100%;
  position: fixed;
  top: 0;

  & li {
    color: $electric-blue;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }

  & a {
    cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"),
      auto !important;
    text-decoration: none;
  }

  & a:hover {
    border-bottom: 0.5rem solid $electric-blue;
    transition: 0.3s;
  }

  & a:active {
    border-bottom: 0.5rem solid $polar-white;
    color: $polar-white;
    transition: none;
  }

  & a:visited {
    color: $electric-blue;
  }
}
