:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
  font-size: 1.6rem;
  font-family: Open Sans, sans-serif;
  background: #fafafa;
}

input:required,
textarea {
  box-shadow: none;
}

h1 {
  color: black;
  font-size: 1.9rem;
  font-weight: lighter;
  line-height: 2.7rem;
  word-spacing: 1rem;
}

section {
  margin-top: 15rem;
}

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(55vw, 11vh, 63px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.88;
  height: 7px;
  width: 7px;
  animation-delay: -0.2s;
  transform: translate3d(35vw, 32vh, 38px);
  background: #50d926;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(29vw, 45vh, 39px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.56;
  height: 9px;
  width: 9px;
  animation-delay: -0.4s;
  transform: translate3d(17vw, 83vh, 66px);
  background: #4426d9;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(64vw, 39vh, 53px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.63;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(55vw, 65vh, 4px);
  background: #26d994;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(31vw, 46vh, 80px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.83;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(12vw, 3vh, 12px);
  background: #a3d926;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(10vw, 64vh, 1px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.57;
  height: 7px;
  width: 7px;
  animation-delay: -1s;
  transform: translate3d(62vw, 86vh, 12px);
  background: #afd926;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(61vw, 88vh, 90px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.6;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(4vw, 58vh, 42px);
  background: #262cd9;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(50vw, 21vh, 60px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  animation-delay: -1.4s;
  transform: translate3d(51vw, 69vh, 89px);
  background: #2632d9;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(33vw, 87vh, 38px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.46;
  height: 10px;
  width: 10px;
  animation-delay: -1.6s;
  transform: translate3d(12vw, 80vh, 1px);
  background: #26d9a3;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(13vw, 74vh, 90px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.86;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(38vw, 49vh, 36px);
  background: #d926d9;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(89vw, 25vh, 56px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.84;
  height: 10px;
  width: 10px;
  animation-delay: -2s;
  transform: translate3d(13vw, 56vh, 74px);
  background: #a326d9;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(41vw, 35vh, 95px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.78;
  height: 7px;
  width: 7px;
  animation-delay: -2.2s;
  transform: translate3d(79vw, 45vh, 55px);
  background: #d9ac26;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(82vw, 26vh, 35px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.22;
  height: 10px;
  width: 10px;
  animation-delay: -2.4s;
  transform: translate3d(70vw, 19vh, 91px);
  background: #2694d9;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(64vw, 69vh, 89px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.2;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(37vw, 74vh, 13px);
  background: #267ad9;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(26vw, 62vh, 64px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.72;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(58vw, 58vh, 77px);
  background: #2674d9;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(40vw, 30vh, 84px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.36;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(90vw, 45vh, 28px);
  background: #268ed9;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(25vw, 17vh, 98px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(58vw, 37vh, 31px);
  background: #26d9ca;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(44vw, 68vh, 86px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.34;
  height: 8px;
  width: 8px;
  animation-delay: -3.4s;
  transform: translate3d(30vw, 87vh, 40px);
  background: #26d93e;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(88vw, 25vh, 39px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(4vw, 29vh, 27px);
  background: #26d96b;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(20vw, 39vh, 7px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.64;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(19vw, 81vh, 31px);
  background: #26d9bb;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(76vw, 43vh, 44px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.92;
  height: 9px;
  width: 9px;
  animation-delay: -4s;
  transform: translate3d(54vw, 18vh, 9px);
  background: #6226d9;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(62vw, 37vh, 21px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.22;
  height: 10px;
  width: 10px;
  animation-delay: -4.2s;
  transform: translate3d(28vw, 39vh, 86px);
  background: #4dd926;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(59vw, 58vh, 40px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.23;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(25vw, 57vh, 16px);
  background: #26d97d;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(75vw, 72vh, 32px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.64;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(37vw, 13vh, 48px);
  background: #c4d926;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(50vw, 68vh, 100px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(19vw, 68vh, 1px);
  background: #9126d9;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(8vw, 46vh, 24px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.62;
  height: 8px;
  width: 8px;
  animation-delay: -5s;
  transform: translate3d(14vw, 14vh, 34px);
  background: #d92694;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(19vw, 37vh, 65px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  animation-delay: -5.2s;
  transform: translate3d(81vw, 43vh, 7px);
  background: #d926b5;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(24vw, 63vh, 22px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.13;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(61vw, 48vh, 89px);
  background: #26d9a3;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(77vw, 17vh, 93px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.56;
  height: 9px;
  width: 9px;
  animation-delay: -5.6s;
  transform: translate3d(52vw, 76vh, 14px);
  background: #38d926;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(1vw, 53vh, 56px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.76;
  height: 9px;
  width: 9px;
  animation-delay: -5.8s;
  transform: translate3d(75vw, 58vh, 14px);
  background: #4a26d9;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(14vw, 65vh, 69px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.75;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(55vw, 60vh, 4px);
  background: #d9d626;
}

.nav-bar {
  background-color: rgba(127, 255, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
}
.nav-bar li {
  color: #0000ee;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.nav-bar a {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
  text-decoration: none;
}
.nav-bar a:hover {
  border-bottom: 0.5rem solid #0000ee;
  transition: 0.3s;
}
.nav-bar a:active {
  border-bottom: 0.5rem solid #fafafa;
  color: #fafafa;
  transition: none;
}
.nav-bar a:visited {
  color: #0000ee;
}

.about::before {
  display: block;
  content: " ";
  margin-top: -185px;
  height: 185px;
  visibility: hidden;
  pointer-events: none;
}

.about div {
  display: flex;
  justify-content: center;
  text-align: justify;
}

.about-container h1 {
  width: 60%;
}

.technologies {
  width: 60%;
  margin: 10% auto;
  display: block;
}
.technologies::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}
.technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technology-item {
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-name {
  text-align: center;
}

.text-title {
  text-align: center;
  margin-bottom: 3rem;
}

.portfolio {
  width: 90%;
  margin: 5% auto;
}
.portfolio::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 4rem;
  justify-items: center;
  align-items: center;
}

.portfolio-container a:hover {
  cursor: crosshair;
}

.contact::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
  text-align: center;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
}
form h1 {
  margin-bottom: 1rem;
}

.form-item {
  width: 100%;
  margin-top: 2rem;
}

input[type=text],
input[type=email],
textarea {
  padding: 1rem;
  border-radius: 12rem;
  border: 1px solid #0000ee;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: chartreuse;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.btn-submit {
  background: #0000ee;
  color: #fafafa;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  width: 7rem;
  font-size: 2rem;
}
.btn-submit:hover {
  height: 4.4rem;
  width: 7.4rem;
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
}
.btn-submit:active {
  color: #1100fb;
  background: chartreuse;
}

footer {
  font-size: 1rem;
  width: 100%;
  background-color: #beff7f;
  position: fixed;
  bottom: 0;
}
footer .social-networks {
  text-align: center;
  padding-top: 1.5rem;
}
footer .icon {
  padding: 1rem;
}
footer a:hover {
  cursor: url("https://freight.cargo.site/t/original/i/929c0a9f4cbb8c5fcb9b6f600cc46b238721c2f5fd7954ecfc74227dbda5884a/cursornegro.png"), auto !important;
}
footer a:active {
  color: #fafafa;
}
footer a:visited {
  color: #0000ee;
}
footer .text-footer {
  color: #0000ee;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 900px) and (max-width: 1397px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  section {
    margin-top: 7rem;
    padding-left: 11rem;
  }

  .nav-bar {
    height: 100%;
    width: 16%;
  }
  .nav-bar li {
    margin: 2rem;
    display: block;
    font-size: 2.3rem;
    letter-spacing: -0.3rem;
  }

  .technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .technology-item i {
    padding: 1rem;
  }

  .portfolio::before {
    display: block;
    content: " ";
    margin-top: -85px;
    height: 85px;
    visibility: hidden;
    pointer-events: none;
  }

  .portfolio-container {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .contact::before {
    display: block;
    content: " ";
    margin-top: -20px;
    height: 20px;
    visibility: hidden;
    pointer-events: none;
  }

  footer {
    width: 16%;
    left: 0;
    background: none;
  }
}
@media only screen and (min-width: 1398px) {
  h1 {
    font-size: 2.5rem;
    word-spacing: 1rem;
    line-height: 4rem;
  }

  section {
    margin-top: 13rem;
  }

  .nav-bar {
    background-color: #beff7f;
    color: #0000ee;
    display: flex;
    justify-content: center;
  }
  .nav-bar li {
    margin: 2rem;
    display: inline-block;
    font-size: 3rem;
  }
  .nav-bar a:hover {
    border-bottom: 0.8rem solid #0000ee;
  }
  .nav-bar a:active {
    border-bottom: 0.5rem solid #fafafa;
    color: white;
    transition: none;
  }

  .about-container h1 {
    width: 60%;
  }

  .technologies {
    width: 50%;
  }
  .technologies-container {
    flex-direction: row;
  }

  .portfolio::before {
    margin-top: -155px;
    height: 155px;
  }

  .contact::before {
    display: block;
    content: " ";
    margin-top: -125px;
    height: 125px;
    visibility: hidden;
    pointer-events: none;
  }

  .btn-submit:active {
    color: #0000ee;
    background: chartreuse;
  }

  footer {
    background-color: rgba(127, 255, 0, 0.5);
  }
  footer .text-footer {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
